<h1 class="col-lg-offset-5" id="register">Register</h1>

<div class="container">
    <div ng-if="vm.message" class="col-lg-offset-2 form-group col-lg-8 alert alert-success" role="alert">
        <p>{{ vm.message }}</p>
    </div>

    <div ng-if="vm.error" class="col-lg-offset-2 form-group col-lg-8 alert alert-danger" role="alert">
        {{vm.error}}
    </div>
</div>

<div class="container">
    <form ng-hide="vm.message" name="register" ng-submit="vm.register()">
        <div class="col-lg-offset-2 form-group col-lg-8">
            <label for="username">Username</label>
            <input type="username" class="form-control" id="username" placeholder="Username" ng-model="vm.username" autocapitalize="none">
        </div>

        <div class="col-lg-offset-2 form-group col-lg-8">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" placeholder="Password" ng-model="vm.password" autocapitalize="none">
        </div>

        <div class="col-lg-offset-2 form-group col-lg-8">
            <label for="password-repeat">Repeat Password</label>
            <input type="password" class="form-control" id="password-repeat" placeholder="Password" ng-model="vm.passwordRepeat" autocapitalize="none">
        </div>

        <div id="registerSubmit" class="col-lg-offset-2 col-lg-8">
            <button type="submit" class="btn btn-success">Register</button>
        </div>
    </form>
</div>