/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 90px;
}
.padded {
  padding-top: 30px
}

textarea {
  width: 300px;
  height: 150px;
}